<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chess Management </title>
  </head>
  <style>
  body{
  background-image: url('chess.jpg');
   background-size: cover;
    }
h1{
    font-size:300%;
    text-align:center; }
button{
   background-color: black;
   display: inline;
   padding: 20px 32px;
   display: block;
   font-size: 30px;
   border-radius: 12px;
   margin: 0 auto;
}

a{
  color:white;
}

</style>

  <body>
    <h1> A Chess Management System </h1>

      <button><a href="{%url 'sign_up' %}"> SIGN UP</a></button>


  </body>

</html>
